* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    word-wrap: break-word;
}

a {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}

a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

a:active {
    color:rgba(6,10,36,0.56);
    text-decoration:line-through;
}

/*Estilos menu*/
.menu-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    text-align: right;
    margin: 20px 60px 30px 50px;
    padding: 0px 10px 0px 20px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
}

/*Estilos del boton*/
.button1 {
	background-color: #00F3BB ;
    font-family: 'IBM Plex Mono', monospace;
    font-size:18px;
    text-decoration: none;
    padding: 10px;
}
.button1:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

.supreme-container {
    margin-left: 13.9vw;
    margin-top: 25vh;
}

.button {
    margin-top: 50px;
}

.primary-div {
    width: 43.6vw;
}

.episodes {
    width: 100%;
    height: 1042px;
    transform: skewY(-5deg);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.episodes p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
}